<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.arkui.transportation">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.GuideActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.user.LoginActivity">

        </activity>
        <activity android:name=".activity.home.SupplyDetailActivity" />
        <activity android:name=".activity.home.CompleteInfoActivity" />
        <activity android:name=".activity.home.CarriageListActivity" />
        <activity android:name=".activity.home.SearchLogisticsActivity" />
        <activity android:name=".activity.MessageDetailsActivity" />
        <activity android:name=".activity.publish.MyDeliverActivity" />
        <activity android:name=".activity.publish.SelectAddressActivity" />
        <activity android:name=".activity.publish.EditDetailedAddressActivity" />
        <activity android:name=".activity.publish.PublishDeclareActivity" />
        <activity android:name=".activity.publish.PublishCompleteInfoActivity" />
        <activity
            android:name=".activity.waybill.WaybillDetailActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.waybill.CargoInfoActivity" />
        <activity android:name=".activity.waybill.DriverLocationActivity" />
        <activity android:name=".activity.waybill.OwnerInfoActivity" />
        <activity android:name=".activity.waybill.PaymentFreightActivity" />
        <activity android:name=".activity.waybill.FreightPaymentSucceedActivity" />
        <activity android:name=".activity.waybill.PublishEvaluateActivity" />
        <activity android:name=".activity.waybill.PlanPublishDetailActivity" />
        <activity android:name=".activity.waybill.EditPlanPublishDetailActivity" />
        <activity android:name=".activity.waybill.CarriageDetailActivity" />
        <activity android:name=".activity.my.ContactServiceActivity" />
        <activity android:name=".activity.my.SettingActivity" />
        <activity android:name=".activity.my.AboutActivity" />
        <activity android:name=".activity.my.FeedbackActivity" />
        <activity android:name=".activity.my.MyProfileActivity" />
        <activity android:name=".activity.my.MyAvatarActivity" />
        <activity android:name=".activity.my.MyDataActivity" />
        <activity android:name=".activity.my.MyBalanceActivity" />
        <activity android:name=".activity.my.AccountRechargeActivity" />
        <activity android:name=".activity.my.RechargeSucceedActivity" />
        <activity android:name=".activity.my.DetailBillActivity" />
        <activity android:name=".activity.my.WithdrawActivity" />
        <activity android:name=".activity.my.WithdrawSucceedActivity" />
        <activity android:name=".activity.my.SelectBankCardActivity" />
        <activity android:name=".activity.my.AddBankActivity" />
        <activity android:name=".activity.my.MyPointActivity" />
        <activity android:name=".activity.my.PointWithdrawActivity" />
        <activity android:name=".activity.my.WithdrawRecordActivity" />
        <activity android:name=".activity.my.AuthActivity" />
        <activity android:name=".activity.my.MyInfoFeeActivity" />
        <activity android:name=".activity.user.ForgetPasswordActivity" />
        <activity android:name=".activity.user.PasswordResetActivity" />
        <activity android:name=".activity.user.RegisterActivity" />
        <activity android:name=".activity.user.ClauseActivity" />
        <activity android:name=".pay.WebViewActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity.my.InviteFriendActivity" />
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106220644" />
            </intent-filter>
        </activity>
        <activity android:name="com.arkui.share.wxapi.WXEntryActivity" />

        <activity-alias
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:targetActivity="com.arkui.share.wxapi.WXEntryActivity" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="66f2eb1e05cb952a21475d46d9767761" />

        <activity android:name=".activity.my.InviteFriendListActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.arkui.transportation.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!-- 微信支付 -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/TransparentAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wx279a4760d6a5d3d6" />
            </intent-filter>
        </activity>

        <!-- 支付宝支付 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <receiver
            android:name=".receiver.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" /> <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.arkui.transportation" />
            </intent-filter>
        </receiver>

        <activity android:name=".pay.BankCardsListActivity" />
        <activity android:name=".pay.BankCardPayActivity" />
        <activity android:name=".activity.my.SoftWareDescriptionActivity"></activity>

    </application>

</manifest>